.banner {
  background-image:
    /* Transparent gradient above */
    linear-gradient(-181deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 75%),
    linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 75%),
    /* Then image below */
    url(../images/backgroundimage.jpg);

  /* 2. Make the background image cover the banner div */
    background-size: cover;     
  /* 3. Center the image */
    background-position: center;
    height: 672.59px;
    border-bottom: 8px solid #222;
}


/* boite principale */
.container {
    margin: 200px auto;
    text-align: center;
    padding: 0;
}


h1 {
    font-size: 50px;
}

h2 {
    font-size: 26px;
}

h3 {
	font-size: 19.2px;
}

.btnred {
	background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    float: right;
}

.btnred2 {
    background-color: #e50914;
    line-height: normal;
    padding: 7px 52px;
    font-weight: 400;
    font-size: 1rem;
    margin: 0px 56px;
    color: white;
    border-radius: 2px;
    margin: -4px;
    height: 60px;
    border: 1px solid #e50914;
    font-size: 1.625rem;
    font-weight: normal;
    line-height: initial;
    padding-bottom: 15px;


}

}

.header {
	transition: background-color 0.5s;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5rem;
    z-index: 10;}


.placeLabel {
    position: absolute;
}

.email-form {
    content: center;
    margin-top: 25px;
    margin-bottom: 10px; 

}

#input {
    height: 60px;
    width: 450px;
    padding: 0px;
}